$default-display: flex;
$default-justify: center;

body{
    margin: 0;
    padding: 0;
    display: $default-display;
    justify-content: $default-justify;
}

nav{
    border: 2px solid blue;
    display: $default-display;
    justify-content: space-around;
}

.container{
    width: 50vw;
    border: 2px solid red;
    padding: 20px;
    margin: 8px 0;
}

.current{
    color: green;
}

img{
    width: 75%;
}