<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ /assets/css/styles.css | prepend: site.baseurl }}">
    {% feed_meta %}
    {% seo %}
</head>
<body>
    <div class="container">
        <div class="nav-container">
            {% include navigation.html %}
        </div>
        <div class="content-container">
            {{ content }}
        </div>
    </div>
</body>
</html>